* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    min-width: 400px;
    min-height: 100vh;
    background: linear-gradient(150deg, #92f086, #1d5231);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: #eee;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo-app h2 {
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background: #ccc;
    border-radius: 30px;
    padding-left: 20px;
}

input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
}

.input-container button {
    border: none;
    background: #2b7ae9;
    color: #fff;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 30px
}

ul li {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding: 10px 8px 10px 20px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

ul li::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2b7ae9;
    display: inline-block;
    margin-right: 10px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background: #5ad65a;
}

.delete-btn {

    padding: 10px;
    line-height: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background 0.3s, color 0.3s;
    margin-left: auto;
}

ul li span:hover {
    background: #ccc;
    color: #fff;
}